body {
    margin: 0;
    padding: 0;
    background-image: url(img/Guess.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}



h1 {
    display: flex;
    font-size: 3rem;
    justify-content: center;
    margin-top: 5%;
    text-shadow: 1px 1px 2px rgb(5, 4, 4);
    /* margin-bottom: 1%; */
}

.container{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
}

.inp{       
    border-radius: 3px;    
    height: 4vh;  
    margin-right: 10px;
    font-size: 18px;
    font-weight: bold;
    text-indent: 10px;

}

button {    
    height: 4.7vh;   
    border-radius: 3px;
    width: 8%;
    font-size: 18px;
    font-weight: bold;
    box-sizing: border-box;
    overflow: hidden;
}

button:hover {    
    background-color: rgb(82, 74, 74);
    color: white;
    font-size: 20px;
}
.container_2{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

#Res {
    display:block;
    font-size: 1.9rem;
    font-weight: bold;
    /* padding: 10px;  */
    /* background-color: rgb(230, 221, 221); */
}

#Res_2 {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    /* padding: 10px;  */
    /* background-color: rgb(230, 221, 221); */
}


#hid {
    display:none;
}



@media (max-width: 500px){
       
    body {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        height: 100vh;   
        background-image: url(img/mobile.png);
        background-size: cover; 
        text-align: center;
    }

    .container{       
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    h1 {
        background-color: rgba(0, 0, 0, 0.8);
        color: whitesmoke;
        padding: 0 12%;
        margin-top: 30%;
        font-size: 30px;
        line-height: 40px;
    }

    .inp{    
        margin-bottom: 10%;   
        margin-top: 10%;   
        font-size: 18px;
        font-weight: bold;
        text-indent: 50%;
    }
    
    
    button {    
        margin:0 auto ;
        /* display: flex; */
        width: 30%;
        /* justify-content: center; */
    }
    
    #Res {
        margin-top: 8%;
        padding: 0 15%;
        display: block;
        font-size: 1.5rem;
        font-weight: bold;
       
        background-color: rgb(230, 221, 221);
    }

    #Res {
        margin-top: 8%;
        padding: 0 15%;
        display: block;
        font-size: 1rem;
        font-weight: bold;
       
        background-color: rgb(230, 221, 221);
    }
    #hid {
        background-color: rgba(0, 0, 0, 0.5);    
        color:rgb(231, 231, 22);
        display:inline-block;
        font-size: 2.5rem;
        text-shadow: 1px 1px 2px rgb(0, 0, 0);
    }
}